/* .boderc{
    border: 2px goldenrod;
} */
.circle{
    border: 1px solid;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 20%;
    padding-bottom: 10%;
    padding-right: 10%;
    /* padding-left: 10%;
    padding-top: 10%; */
    /* padding: 4000 3000 3000 5000px; */
    margin:auto;
    /* margin-bottom: 10%;
    margin-right: 10%; */
    /* margin-left: 10%;
    margin-top: 10%; */

    /* margin: 4000 3000 3000 5000px; */
}